{% load staticfiles %}

<script src="{% static 'chat/scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'chat/scripts/chat_history_refresh' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}" />

<a id="out" href="{% url 'chat:sighout' %}">"Выйти"</a>

{% if latest_messages_list %}
<div id="history">
    <ul>
        {% for message in latest_messages_list %}
            <li>{{message.message_text}}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>History chat is empty</p>
{% endif %}

{% csrf_token %}

<hr><br/>
<label>Ваше сообщение: </label>
<br/><br/>
<input type="text" id="message" name="message" size="auto" />
<br/><br/>
<input type="button" id="send" onclick="send_get_new_message()" value="Отправить" />
<a type="hidden" id = "message_url" href="{% url 'chat:messages' %}"/>
<a type="hidden" id = "send_url" href="{% url 'chat:send' %}"/>
<a type="hidden" id = "user_name" href="{{ user_name }}"/>