{% load staticfiles %}

<script src="{% static 'chat/scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'chat/scripts/chat_history_refresh' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}" />

<br/>
<br/>
<form action="{% url 'chat:sighin' %}" method="post">
{% csrf_token %}
    <label>Логин: </label>
    <input type="text" name="login" id="login" value="" />
    <br/>
    <br/>
    <label>Пароль:</label>
    <input type="password" name="password" id="password" value="" />
    <br/>
    <br/>
<input type="submit" id="send" value="Войти/Зарегистрироваться" />
</form>