*{
    background-color: #DDDDDD;
    margin: auto;
    text-align: center;
}


li {
    color: black;
    text-shadow: 2px 2px 4px #777777;
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
   }

#send:hover {
  background:#222222;
}

label {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#send {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease;
}

#message:hover, #login:hover, #password:hover {
   -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#message, #login, #password
{
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
    transition: all 0.3s ease;
}

#out
{
    margin: auto;
    text-align: left;
    color: black;
}